.create-child-message{
  position: relative;
  margin: 5px;
  padding: 50px;
}

.button{
  position: absolute;
}
button:hover {
  box-shadow: 2px 2px 3px ;
}

button:active {
  box-shadow: 1px 1px 3px ;
}

.options {
  padding-top: 0px;
}

.parent {
  white-space: pre-wrap;
}

.wrapper{
  white-space: pre-wrap;
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5px;
  display: flex;
  justify-content: center;
}

.wrapper a{
  
  display: contents;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.wrapper a span{
  position: relative;
  z-index: 2;
}

.wrapper a:after{
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

.wrapper a:hover{
  color: rgb(165, 165, 165);
  opacity: 10%;
}

.wrapper a:hover:after{
  width: 20%;
}
