{% extends "layout.html" %}
<!-- extends the navbar basically -->
{% block scripts %}
<script src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
<div class="container">
    <div class = "parent">
        {{ parent.content }}
    </div>
    <div class="row">
        <div class="options">
            {% set count = namespace(value=0) %}
            {% for child in children %}
            
            <div class="col wrapper">
                <a href="/{{ child.message_id }}">
                    {% set edit = "edit-" + count.value|string %}
                    <span id ={{ edit }}>{{ child.content }}</span>
                </a>
                <button type="submit" onclick="start_editing(this,{{ count.value }})" id="edit-button">Edit</button>
                <button type="submit" onclick="end_editing(this,{{ count.value }})" id="end-editing">Done</button>
            </div> 
            {% set count.value = count.value + 1 %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}